@tailwind base;
@tailwind components;
@tailwind utilities;

/* 設定全站 */
@layer base {
  html {
    font-family: "fredoka one", "cursive", "Noto Sans TC", "Roboto", system-ui,
      sans-serif;
    @apply text-gray-800 scrollbar scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-amber-300;
  }
  body {
    @apply bg-yellow-200;
  }
}

@layer components {
  .subTitle-text {
    @apply text-2xl sm:text-3xl;
  }
}

::selection {
  background: #fcd34d;
  color: white;
}
/* .js-calendar-graph {
  display: flex;
} */
.js-calendar-graph > div {
  display: none;
}
.js-calendar-graph > svg {
  overflow-x: scroll;
}
.js-calendar-graph > * svg,
.js-calendar-graph > svg {
  margin: 0 auto !important;
}
/* {
  margin: 0 auto !important;
} */

.aBtn {
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #fcd34d;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 2px 0;
  -webkit-appearance: none;
  appearance: none;

  left: 500px;
  top: 500px;
}

.aBtn:hover {
  transform: scale(1.03);
}
.aBtn:active {
  transform: scale(0.98);
}
.aBtn:focus {
  outline: 0;
  transform: scale(0.98);
}

.aBtn:before,
.aBtn:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.aBtn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 20%,

      #0ea5e9 20%,
      transparent 30%
    ),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,

      #0ea5e9 15%,
      transparent 20%
    ),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
    50% 50%, 65% 20%, 85% 30%;
}
.aBtn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,

      #0ea5e9 15%,
      transparent 20%
    ),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%),
    radial-gradient(circle, #0ea5e9 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
    40% 90%, 55% 90%, 70% 90%;
}

.aBtn:active {
  transform: scale(0.9);
  background-color: darken(#0ea5e9, 5%);
  box-shadow: 0 2px 25px rgba(#0ea5e9, 0.2);
}

.aBtn:active:before,
.aBtn:hover:before {
  display: block;
  animation: topBubbles ease-in-out 0.7s forwards;
}
.aBtn:active:after,
.aBtn:hover:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.7s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.transform-3d{
   transform-style: preserve-3d;
}